html {
	height: 100%;
}

body {
	background-image: url(../img/background.png);

}

#section-home {
	min-height: 650px;
	height: 100%;
	width: 100%;

}

.navbar {
	padding-bottom: 30px;

}

#section-navbar {


	line-height: 25px;
	font-size: 15px;
	color: orange;

}

#correct {display:none;}
#incorrect {display:none;}
#answerBtn {
	height: 30px;
}

input[type="text"], input[type="button"]{
	display: line;
	vertical-align: top;
}

input[type="button"] {
	height: 30px;
}

input[type="text"] { 

}